In [2]:
import pandas as pd
import numpy as np

from bokeh.plotting import figure, output_file, show
import seaborn as sns
from matplotlib import pyplot as plt

plt.style.use('fivethirtyeight')

%matplotlib inline

In [3]:
data = pd.read_csv('./account_usage_data.csv')

In [4]:
data.head()

  Usage Date Account Creation Date  Days Since Account Started Number of Uses
0    7/29/18               7/29/18                           0            514
1    7/30/18               7/30/18                           0            429
2    7/30/18               7/29/18                           1             29
3    7/31/18               7/30/18                           1             58
4    7/31/18               7/31/18                           0            497

In [5]:
data.tail()

,Usage Date,Account Creation Date,Days Since Account Started,Number of Uses
495,8/29/18,8/14/18,15,26
496,8/29/18,8/17/18,12,91
497,8/29/18,8/22/18,7,39
498,8/29/18,8/4/18,25,210
499,8/29/18,8/1/18,28,48

In [14]:
Uses = data.groupby(by=['Number of Uses'], as_index=False)

In [18]:
Uses_1 = Uses.agg({'Days Since Account Started': [np.sum, np.mean]})